html {
	margin: 0;
}

body {
	background: rgba(29,30,30,1);
	margin: 0;
}

.logo {
	background-image: url(/../images/LifeSend_newLogo.png);
	background-size: 100%;
	width: 300px;
	height: 300px;
	margin: auto;
	margin-top: 10%;
}

a {
	font-family: "Lucida Calligraphy", script;
	color: rgba(29,30,30,1);
	display: block;
	width: 20%;
	background-color: rgba(145,142,142,1);
	text-align: center;
	margin: auto;
	border-radius: 10px;
	padding: 0 5%;
	text-decoration: none;
}